<div class="container">
	<div class="header-text">
		<h1>Welcome to BrushUp</h1>
		<h2>What would you like to learn today?</h2><br>
	</div>

<%= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-primary" %>

<%= form_tag(lessons_path, :method => "get", :url => "lessons_path", id: "search-form") do %>
Search Posts<%= text_field_tag :query %>
<%= submit_tag "Search" %>
<% end %>
