<div class="container">

	<div class="header-text">
		<h1>Welcome to BrushUp</h1>
		<h2>What do you want to learn today?</h2><br>
	</div>
		<div class="divider">
	</div>
	<div class="row">
		<button href="#"> <span>Search</span></button>