<div class="container">

<<<<<<< HEAD
	<div class="header-text">
		<h1>Welcome to BrushUp</h1>
		<h2>What would you like to learn today?</h2><br>
	</div>
		<div class="divider">
	</div>
	<div class="row">
		<button href="#"> <span>Search</span></button>
=======
>>>>>>> 58daf2d9d48b6cdfebf730471a3c360392e21a1a
