<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>

<% @results.each do |item| %>
<div class="well">
  <h1><%= item['description']  %></h1>
  <iframe src="<%= item['download_urls']['mp4'] %>"></iframe>

</div>
<% end %>