<div class="container">
<div class="header-text">
<h1>About</h1><br>
<h2>Meet the Team</h2>
</div>
</p>

    <div class="row">
    <center>
      <div class="col s4"><img src="assets/rachel.jpg" alt="" class="circle responsive-img" id="aboutpic"><br><h5>Rachel Fourquet</h5></div>
      <div class="col s4"><img src="assets/alex.jpg" alt="" class="circle responsive-img" id="aboutpic"><br><h5>Alex Mac</h5></div>
      <div class="col s4"><img src="assets/haylee.jpg" alt="" class="circle responsive-img" id="aboutpic"><br><h5>Haylee Nighbert</h5></div>
</div>