<h1>Lessons#index</h1>
<p>Find me in app/views/lessons/index.html.erb</p>

<%= form_tag(new_lesson_path, :method => "get", :url => "new_lessons_path", id: "search-form") do %>
Search Posts<%= text_field_tag :query %>
<%= submit_tag "Search" %>
<% end %>







