
<h1>Lessons#new</h1>
<p>Find me in app/views/lessons/new.html.erb</p>

<%  @response.each do |item| %>
<iframe src='https://www.youtube.com/embed/<%= item %>' width="400" height="200"></iframe>
<% end  %>

