body {
  background: url(splash.jpg);
  font-family: 'Karla', Arial, sans-serif;
  color: #fff;
  font-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}


h1, h2, h3, h4, h5, h6 {
  color: white;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 14px;
}

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    color: "black"; }

.header-text {
  font-family:"Montserrat", Arial, sans-serif;
  font-size:40px;color:#FFFFFF;
  width: 100%;
}

.secondary-text {
  font-family:"Karla", Arial, sans-serif;
  font-size:20px;
  color:#FFFFFF;
}
.container {
  background-color: #000;
  max-width:650px;
  padding-top: 0px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 150px;
  vertical-align: center;
  text-align:center;
  border-style: solid black;
  padding: 10px;
}

.m_container {
  background-color: #000;
  max-width:400px;
  max-height:750px;
  padding-top: 0px;
  margin-left: 250px;
  float:left;
  width:33%;
  margin-top: 0px;
  vertical-align: center;
  text-align:center;
  border-style: 10px solid black;
  padding: 10px;
  opacity: 0.7;
  filter: alpha(opacity=40);
}

#aboutpic {
  height: 175px;
}

.logo {
    position: absolute;
    top: 0px;
    right: 0px;
}

.content input {
  text-align:center;
  padding-left: 10px;
  margin-left:10px;
  }

.divider {
  display: block;
  margin: 5px auto;
  width: 50%;
  height: 1px;
  border-top: rgba(0, 0, 0, 0.1) 1px solid;
  border-bottom: rgba(255, 255, 255, 0.2) 1px solid; 
}

/* Toggle Styles */

.navbar-toggle {
  border: none;
  background: none;
  margin-left: 10px;
}
.profilePic {
  margin-left: 35px;
}
 
 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}
 
#wrapper.toggled {
    padding-left: 250px;
    overflow: scroll;
}
 
#sidebar-wrapper {
    z-index: 1000;
    position: absolute; 
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    // width: 250px;
    width: 50px;
}
 
#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;  
    overflow-x: hidden; 
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}

.fa-sort-amount-asc {
  color: black;
}

.fixed-brand{
    width: auto;
}
/* Sidebar Styles */
 
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}
 
.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}
 
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
 
.brush {
  width: 200px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: red 2px solid;
}
 
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
 
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
 
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
 
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}
 
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    .fixed-brand{
        width: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
 
    #sidebar-wrapper {
        width: 250px;
    }
 
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 0px;
    }

    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: -250px;
    }
 
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
 
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
 
    }
}
