<div class='row'>

<div class="col l4 offset-l3">
<%  @response.each do |video| %>
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
    <img src="<%= video.thumbnail_medium %>" />
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= video.title %></span>
     
    </div>
    <div>
      <%= link_to 'delete', profile_path(video.video_id), :action => 'destroy', class: 'btn btn-danger', method: :delete %>
    </div>


  </div>
<% end %>
</div>
</div>